@charset "UTF-8";

/* ----------------------------------------------------- */
/* GENERAL STYLES
/* ----------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "Roboto Condensed", sans-serif;
  color: #656565;
}

section {
  margin-bottom: 60px;
}

a {
  color: #406da4;
}
a:hover, a:focus {
  color: #355987;
  text-decoration: none;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
}

hr {
  border-color: #eaeaea;
}

/* wrapper */
.wrapper {
  background: #fff;
}

/* breadcrumb */
.breadcrumb {
  background-color: transparent;
}
.breadcrumb > li.active {
  color: #406da4;
}
.breadcrumb a {
  color: #7b7b7b;
}
.breadcrumb a:hover, .breadcrumb a:focus {
  text-decoration: none;
  color: #406da4;
}
.breadcrumb.link-accent > li.active {
  color: inherit;
}
.breadcrumb.link-accent a {
  color: #406da4;
}
.breadcrumb.link-accent a:hover, .breadcrumb.link-accent a:focus {
  text-decoration: none;
  color: #355987;
}
.breadcrumb.separator-arrow > li + li:before {
  padding: 0 8px;
  font-family: "FontAwesome";
  content: '\f105';
}

.number-info p {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0;
}
.number-info p span {
  font-size: 0.5em;
}
.number-info.horizontal i {
  font-size: 30px;
  line-height: 1.2;
}
.number-info.horizontal p {
  padding-left: 40px;
  line-height: 1;
  text-align: left;
}
.number-info.horizontal p span {
  display: block;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .number-info.horizontal {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .number-info.horizontal i {
    float: none !important;
  }
  .number-info.horizontal p {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .number-info.horizontal i {
    float: none !important;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .number-info.horizontal p {
    text-align: center;
  }
}

/* --------------*/
/* TYPOGRAPHY
/* -------------*/
.text-body-color {
  color: #7b7b7b !important;
}

.text-white-color {
  color: #fff;
}

.text-dashed {
  border-bottom: 1px dashed #7b7b7b;
}

.text-accent-color {
  color: #406da4;
}

.dropcap {
  float: left;
  min-width: 31px;
  padding: 5px 0;
  margin: 5px 8px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: #406da4;
  color: #FFF;
}
.dropcap.dropcap-big {
  min-width: 50px;
  padding: 8px 0;
  margin: 5px 10px 0 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

/*------------------------------------------------*/
/*	Page: Contact Us
/*------------------------------------------------*/
.contact-info {
  margin-left: 1.7em;
}
.contact-info > li {
  margin-bottom: 8px;
}

.sidebar-map > div {
  height: 260px;
}

/*------------------------------------------------*/
/*	Page: About Us
/*------------------------------------------------*/
.team-member {
  margin-bottom: 60px;
}
.team-member.media > .pull-left {
  margin-right: 30px;
  padding-right: 0;
}
.team-member .team-name {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 5px;
  line-height: 1.6;
  color: #fff;
  background-color: #406da4;
}
.team-member strong {
  display: block;
  font-size: 0.9em;
}
.team-member hr {
  width: 50px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-left: 0;
}
.team-member .social-icon > li {
  padding-right: 12px;
}
.team-member .social-icon > li > a {
  color: #989898;
  font-size: 18px;
}
.team-member .social-icon > li > a:hover, .team-member .social-icon > li > a:focus {
  color: #797979;
}
@media screen and (max-width: 480px) {
  .team-member {
    text-align: center;
  }
  .team-member.media > .pull-left {
    display: inline;
    float: none !important;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .team-member hr {
    margin: 20px auto;
    float: none !important;
  }
}

@media screen and (max-width: 480px) {
  .team {
    padding-bottom: 0;
  }
}
/* ----------------------------------------------------- */
/* HELPERS
/* ----------------------------------------------------- */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.margin-bottom-30px {
  margin-bottom: 30px !important;
}

.margin-bottom-50px {
  margin-bottom: 50px !important;
}

/* ----------------------------------------------------- */
/* BOOTSTRAP UI ELEMENTS
/* ----------------------------------------------------- */
/* button */
.btn {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:active, .btn.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  background-color: #406da4;
  border-color: #3c6699;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,
.btn-primary .open > .dropdown-toggle.btn-primary {
  background-color: #3c6699;
  border-color: #355987;
}

.btn-group.open .dropdown-toggle {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* input groups */
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.form-control,
.input-group-addon {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon .fa {
  min-width: 14px;
}

/* control label */
.form-horizontal.left-aligned .control-label {
  text-align: left;
}

/* tabs */
.nav-tabs > li > a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #406da4;
    color: #fff;
  }
}

.nav .open > a, .nav .open a:hover, .nav .open a:focus {
  border-color: #fff;
}

.custom-tabs-line {
  text-align: center;
}
.custom-tabs-line ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.custom-tabs-line ul > li {
  float: left;
}
.custom-tabs-line ul > li a {
  color: #a1a1a1;
}
.custom-tabs-line ul > li a:hover, .custom-tabs-line ul > li a:focus {
  color: #7b7b7b;
  background-color: transparent;
}
.custom-tabs-line.tabs-line-top {
  border-top: 1px solid #ccc;
}
.custom-tabs-line.tabs-line-top ul > li {
  margin-top: -1px;
}
.custom-tabs-line.tabs-line-top a {
  border-top: 1px solid transparent;
}
.custom-tabs-line.tabs-line-top .active a {
  border-top-color: #406da4;
}
.custom-tabs-line.tabs-line-bottom {
  border-bottom: 1px solid #ccc;
}
.custom-tabs-line.tabs-line-bottom ul > li {
  margin-bottom: -1px;
}
.custom-tabs-line.tabs-line-bottom a {
  border-bottom: 1px solid transparent;
}
.custom-tabs-line.tabs-line-bottom .active a {
  border-bottom: 1px solid #406da4;
}
.custom-tabs-line.left-aligned {
  text-align: left;
}
.custom-tabs-line.right-aligned {
  text-align: right;
}

.tab-content {
  padding: 15px 8px;
}

.tab-pane.text-center img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* alerts */
.alert {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div[class*="col-"] > .form-group {
  margin-left: 0;
  margin-right: 0;
}

.pager li > a:hover, .pager li > a:focus {
  background-color: #406da4;
  border-color: #3c6699;
  color: #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  border-color: #ddd;
}

/* ----------------------------------------------------- */
/* UI ELEMENTS
/* ----------------------------------------------------- */
.btn-toggle,
.btn-toggle.focus {
  background-color: #eaeaea;
  color: #a8a8a8;
  border-color: #d7d7d7;
}
.btn-toggle.active,
.btn-toggle.focus.active {
  background-color: #F0AD4E;
  border-color: #EEA236;
  color: #fff;
}
.btn-toggle.active:hover,
.btn-toggle.focus.active:hover {
  color: #fff;
}

.btn-toggle:hover {
  color: #808080;
}

.form-horizontal.label-left .control-label {
  text-align: left;
}
