<style lang="scss">
  .el-upload-list--picture-card .el-upload-list__item-actions {
    transition: none;
  }
  .el-upload-list el-upload-list--picture-card {
    transition: none;
  }
  .el-upload--picture-card {
    min-width: 148px;
  }
  .hidden {
    .el-upload {
      display: none;
    }
  }

  .uploader {
    display: flex;
    .el-upload-list--text {
      display: flex;
      .el-upload-list__item:first-child {
        margin-top: 5px;
      }
    }
  }

  .preview {
    height: 72vh;
    text-align: center;
    .img {
      height: 72vh;
      max-width: 100%;
    }
  }

  .upload-add {
    width: 60px;
    height: 60px;
  }
</style>

<template>
  <div>
    <el-upload
      :list-type="config.type==='image' ? 'picture-card' : 'text'"
      :class="showUploadButton ? 'uploader' : 'uploader hidden'"
      action="//up.qiniup.com"
      :data="qiniuParameter"
      :name="config.name"
      :disabled="config.disabled"
      :on-success="handleSuccess"
      :on-error="handleError"
      :on-preview="handlePreview"
      :on-remove="handleRemove"
      :file-list="fileList"
      :before-upload="beforeUpload"
      :before-remove="beforeRemove">
      <i v-if="config.type==='image'" class="el-icon-plus upload-add"></i>
      <el-button v-else style="margin: 3px 0px;" type="primary">
        {{ config.buttonText }}
        <i class="el-icon-upload el-icon--right"></i>
      </el-button>
    </el-upload>
    <el-dialog v-if="config.type==='image'" :visible.sync="dialogVisible" append-to-body top="5vh">
      <div class="preview">
        <img class="img" :src="imageUrl">
      </div>
    </el-dialog>
  </div>
</template>

<script>

const defaultOptions = {
  name: 'file',
  fileSize: 2,
  limit: 1,
  buttonText: '上传'
}

export default {
  name: 'Upload',
  data () {
    return {
      qiniuParameter: {},
      domain: '',
      imageUrl: '',
      dialogVisible: false,
      showUploadButton: true,
      fileList: [],
      config: {
        ...defaultOptions,
        ...this.options
      },
      ignore: false
    }
  },
  props: {
    options: {
      type: Object,
      default () {
        return {}
      }
    },

    value: {
      type: [Array, String],
      default () {
        return []
      }
    },

    beforeRemove: {
      type: Function
    }
  },

  computed: {
    imageStyle () {
      const { width, height } = this.config
      return {
        width: `${width}px`,
        height: `${height}px`,
        lineHeight: `${height}px`
      }
    }
  },

  watch: {
    value: {
      handler (val) {
        let list = []
        if (typeof (val) === 'string') {
          if (val) {
            list.push({
              url: val
            })
          }
        } else {
          list = val.map(item => ({
            url: item
          }))
        }
        this.fileList = list
      },
      immediate: true
    },
    fileList: {
      handler (val) { // 监听fileList 有可能异步
        const fileNum = val.length
        const { limit } = this.config
        if (fileNum >= limit) {
          this.showUploadButton = false
        } else {
          this.showUploadButton = true
        }
      },
      immediate: true
    }
  },
  mounted () {
    this.$axios
      .get('/user/common/qiniu')
      .then(successResponse => {
        console.log('2113', successResponse.data.data.domain)
        this.qiniuParameter.token = successResponse.data.data.token
        this.domain = successResponse.data.data.domain
      })
  },
  methods: {
    beforeUpload (file) { // 上传前检测
      const { fileSize, type, limit } = this.config
      const isImage = type === 'image' ? file.type.indexOf(type) !== -1 : true
      const isLtLimit = file.size / 1024 / 1024 < fileSize
      let isRepeat = true

      this.fileList.forEach(element => {
        if (file.name === element.name) {
          isRepeat = false
        }
      })

      if (!isImage) {
        this.$message.error('只能上传图片!')
        return false
      }

      if (!isLtLimit) {
        this.$message.error(`图片大小不能超过 ${fileSize}MB!`)
        return false
      }

      if (!isRepeat) {
        this.$message.error('不能重复上传!')
        return false
      }
      if (limit >= this.fileList.length - 1) {
        this.showUploadButton = false
      }
      this.setQiniuParameter(file)
      return true
    },

    handleSuccess (res, file, fileList) { // 上传成功
      const { key } = res
      if (key) {
        const url = `http://${this.domain}/${key}`
        if (typeof (this.value) === 'string' || this.config.limit === 1) {
          this.$emit('input', url)
        } else {
          const arr = []
          arr.push(...this.value)
          arr.push(url)
          this.$emit('input', arr)
        }
      }
    },

    handleError (res) { // 上传失败
      this.$emit('on-error', res)
    },

    handleRemove (file, fileList) {
      console.log(fileList)
      const fileNum = fileList.length
      const { limit } = this.config
      if (fileNum < limit) {
        this.showUploadButton = true
      }
      const url = file.url
      if (typeof (this.value) === 'string') {
        this.$emit('input', '')
      } else {
        const arr = []
        arr.push(...this.value)
        arr.splice(arr.indexOf(url), 1)
        this.$emit('input', arr)
      }
    },

    handlePreview (file) {
      this.imageUrl = file.url
      this.dialogVisible = true
    },

    setQiniuParameter (file) {
      const timestamp = new Date().getTime()
      const _arr = file.name.split('.')
      const suffix = _arr[_arr.length - 1]
      this.qiniuParameter.key = `${timestamp}.${suffix}`
    }
  }
}
</script>
