<template>
  <div id="app">
<!--    <img src="./assets/logo.png">-->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  #app{
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
</style>
