<template>
  <el-container class="el-container">
    <el-header class="head">
      <h3>欢迎成为鲜锋供应商
      </h3>
    </el-header>
    <el-header class="subtitle">
      <h3>
        恭喜您已通过审核请填写并注册
      </h3>
    </el-header>
    <a href="http://vendor.homezonecommunity.com/home">{{navItem}}</a>
  </el-container>
</template>

<script>
export default {
  name: 'registerSuccess.vue',
  data () {
    return {
      navItem: '注册成功，请点击以下链接访问供货商系统'
    }
  }
}
</script>

<style scoped>
  @import "../../assets/css/main.css";
  @import "../../assets/css/custom.css";
  @import "../../assets/css/font-awesome.css";
  @import "../../assets/css/animate.css";
  .head{
    background-image: url("../../assets/img/recruit/top.png");
    background-size: 100%;
    max-width: 375px;
    min-height: 155px;
    margin: 10px auto;
  }
  .el-container{
    max-width: 375px;
    margin: 50px auto;
  }
  .subtitle{
    width: 335px;
    height: 85px;
    font-family: PingFang SC;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: 0px;
    color: #707070;
  }
  . notice{
    width: 344px;
    height: 58px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #707070;
  }
</style>
