<template>
  <el-container class="el-container">
    <el-header class="head" height="100px">
      <img class="logo" src="@/assets/logo.png"/>
    </el-header>
    <el-header class="subtitle">
      <h3 class="title">欢迎申请成为鲜锋供应商</h3>
    </el-header>
    <el-form ref="form" label-width="80px" style="margin-top: 10px" :rules="rules" :model="loginForm">
      <el-form-item label="企业名称" prop="name">
        <el-input type="text" v-model="loginForm.name"
                  auto-complete="off" placeholder="请输入企业名称"></el-input>
        <div style="float: left;line-height: 19px;margin-top: 3px"><span @click="toSupply" style="text-decoration:underline;color: #108ee9">输入企业名称，查看申请进度</span></div>
      </el-form-item>

      <el-form-item label="手机号" prop="contact_mobile">
        <el-input type="text" v-model="loginForm.contact_mobile"
                  auto-complete="off" placeholder="请输入手机号"></el-input>
      </el-form-item>
      <el-form-item label="电子邮箱" prop="email">
        <el-input type="text" v-model="loginForm.email"
                  auto-complete="off" placeholder="请输入电子邮箱"></el-input>
      </el-form-item>

      <el-form-item label="营业执照" prop="business_license">
        <upload :options="options" v-model="loginForm.business_license"/>
      </el-form-item>
    </el-form>

    <el-footer>
      <div style="margin: 0px 15px 0px 0px">
        <el-checkbox v-model="checked">
          我已认证阅读、理解并同意
          <el-button type="text" @click="dialogVisible = true" style="text-decoration:underline">《鲜锋供应商协议》</el-button>
        </el-checkbox>
      </div>
      <el-button type="primary" style="width: 100%;background: #108ee9;border: none;margin-top: 10px" v-on:click="login">申请</el-button>
    </el-footer>

    <el-dialog
      title="请仔细阅读以下合作协议"
      :visible.sync="dialogVisible"
      width="80%">
      <span>遵守法律，遵守食品安全，遵守道德</span>
      <el-card style="margin-top: 20px">
        <div>
          <p>1.不得售卖未经许可的商品</p>
          <p>2.不得售卖危害人体健康的食品</p>
          <p>3.一旦发现质量有问题的商品，即刻取消合作资格，并追究法律责任</p>
        </div>
      </el-card>
      <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>
  </el-container>
</template>

<script>
import Upload from '../Upload'
export default {
  components: {
    Upload
  },
  name: 'supply.vue',
  data () {
    return {
      dialogVisible: false,
      fileList: [],
      loginForm: {
        name: '',
        email: '',
        contact_mobile: '',
        business_license: ''
      },
      options: {
        type: 'image',
        limit: 1
      },
      responseResult: [],
      checked: false,
      rules: {
        name: [
          { required: true, message: '请输入企业名称', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请输入电子邮箱', trigger: 'blur' }
        ],
        contact_mobile: [
          { required: true, message: '请输入手机号', trigger: 'blur' }
        ],
        business_license: [
          { required: true, message: '请上传营业执照', trigger: 'blur' }
        ]
      }
    }
  },
  mounted: function () {
  },
  methods: {
    toSupply () {
      if (!this.loginForm.name) {
        this.$message.error({
          message: '请输入企业名称',
          showClose: true
        })
        return
      }
      this.$router.push({
        name: 'supplySuccess',
        query: {
          name: this.loginForm.name
        }
      })
    },
    login () {
      this.$refs.form.validate(valid => {
        if (valid) {
          if (!this.checked) {
            this.$message.error({
              message: '请阅读并勾选《鲜锋供应商协议》',
              showClose: true
            })
            return
          }
          this.$axios
            .post('/vendor/vendor/request', {
              name: this.loginForm.name,
              contact_mobile: this.loginForm.contact_mobile,
              email: this.loginForm.email,
              business_license: this.loginForm.business_license
            })
            .then(successResponse => {
              if (successResponse.status === 200) {
                this.$router.push({
                  name: 'supplySuccess',
                  query: {
                    name: this.loginForm.name
                  }
                })
              }
              if (successResponse.status === 400) {
                this.$router.replace({path: '/loginError'})
              }
            })
            .catch(failResponse => {
            })
        }
      })
    }
  }
}
</script>

<style scoped>
  @import "../../assets/css/main.css";
  @import "../../assets/css/custom.css";
  @import "../../assets/css/font-awesome.css";
  @import "../../assets/css/animate.css";

  .head {
    max-width: 375px;
    margin-top: 40px;
    text-align:center;
  }

  .title {
    font-size: 24px;
    color: #555555;
    margin-top: 20px;
    text-align:center;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .el-container {
    max-width: 375px;
    padding: 0px 15px 20px 15px;
  }

  .subtitle {
    width: 335px;
    height: 85px;
    font-family: PingFang SC;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 25px;
    letter-spacing: 0px;
    color: #707070;
  }

  . notice {
    width: 344px;
    height: 58px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #707070;
  }

  .register_btn_submit {
    width: 345px;
    height: 47px;
    background-color: #108ee9;
    border-radius: 10px;
  }
</style>
