<template>
  <div>
    <div class="head">
      <img class="back" src="@/assets/img/backArrow.png" @click="back" style="padding: 12px 15px 12px 15px;height: 20px"/>
      <span>供应商申请</span>
    </div>
    <el-container class="el-container">
      <div class="subtitle">
        <img class="logo" :src="content.logo" style="height: 100px;width: auto"/>
        <h3 style="margin-top: 15px">
          {{content.title}}
        </h3>
      </div>
      <div style="margin: 20px 20px 0 30px;">
        <el-steps :active="active" finish-status="success">
          <el-step title="企业申请已提交"></el-step>
          <el-step title="企业申请审核中"></el-step>
          <el-step title="审核完成"></el-step>
        </el-steps>
      </div>
      <div v-if="content.verified_status === 1" style="text-align: center;margin-top: 20px">
        <a style="text-align: center;" :href="'/userRegister/'+content.id+'/'+content.name" v-show="content.isShow">{{content.navItem}}</a>
      </div>
    </el-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      content: {
        id: '',
        title: '',
        logo: '',
        navItem: '企业信息提交成功，请点击以下链接查看进度',
        verified_status: 0,
        name: '',
        isShow: false
      },
      active: 1
    }
  },
  methods: {
    namecheck (name) {
      this.$axios
        .get('/vendor/vendor/namecheck', {
          params: { name: name }
        })
        .then(successResponse => {
          if (successResponse.data.code === 0) {
            const data = successResponse.data.data
            if (data) {
              this.content.id = data.id
              this.content.name = data.name
              if (data.verified_status === 0) { // 审核中
                this.content.title = '企业信息审核中'
                this.content.logo = require('@/assets/img/supply_ing.png')
                this.content.isShow = false
                this.content.verified_status = 0
                this.active = 2
              } else if (data.verified_status === 1) { // 审核成功
                this.content.title = '您提交的企业信息审核成功'
                this.content.logo = require('@/assets/img/supply_success.png')
                this.content.isShow = true
                this.content.navItem = '企业信息提交成功，请点击以下链接查看进度'
                this.content.company = name
                this.content.verified_status = 1
                this.active = 3
              } else if (data.verified_status === 2) { // 审核失败
                this.content.title = '您提交的企业信息审核失败'
                this.content.logo = require('@/assets/img/supply_fail.png')
                this.content.isShow = false
                this.content.verified_status = 2
                this.active = 3
              }
            } else { // 未申请
              this.content.title = '未申请供应商'
              this.content.logo = require('@/assets/img/supply_no.png')
              this.content.isShow = false
            }
          }
          if (successResponse.status === 400) {
            this.$router.replace({path: '/loginError'})
          }
        })
        .catch(failResponse => {
        })
    },
    back () {
      this.$router.back()
    }
  },
  created () {
    let name = this.$route.query.name
    this.namecheck(name)
  }
/*  mounted: function () {
    this.name = this.$route.query.name
    this.namecheck()
  } */
}
</script>

<style scoped>
  @import "../../assets/css/main.css";
  @import "../../assets/css/custom.css";
  @import "../../assets/css/font-awesome.css";
  @import "../../assets/css/animate.css";
  .head{
    width: 100%;
    height: 45px;
    background-color: #fd5b7f;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
  .el-container{
    max-width: 375px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
  }
  .subtitle{
    font-size: 18px;
    color: #707070;
    text-align: center;
  }
  . notice{
    width: 344px;
    height: 58px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #707070;
  }
  .register_btn_submit {
    width: 345px;
    height: 47px;
    background-color: #108ee9;
    border-radius: 10px;
  }
</style>
