<template>
  <div>
    <div class="head">
      <img class="back" src="@/assets/img/backArrow.png" @click="back" style="padding: 12px 15px 12px 15px;height: 20px"/>
      <span>鲜锋供应商</span>
    </div>
    <el-container class="el-container">
      <el-header class="head_logo" height="100px">
        <img class="logo" src="@/assets/logo.png"/>
      </el-header>
      <el-header class="subtitle">
        <h3 class="title">恭喜您已通过审核请填写并注册</h3>
      </el-header>
      <el-form class="login-container" label-position="left" style="margin-top: 10px"
               label-width="0px">
        <el-form-item>
          <el-input type="text" v-model="loginForm.username"
                    auto-complete="off" placeholder="请输入用户名"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input type="text" v-model="loginForm.password" show-password
                    auto-complete="off" placeholder="请输入密码"></el-input>
        </el-form-item>
        <el-form-item style="width: 100%">
          <el-button type="primary" style="width: 100%;background: #108ee9;border: none" v-on:click="login">注册</el-button>
        </el-form-item>
      </el-form>

      <a href="https://vendor.homezonecommunity.com/" style="text-align: center">已有账号，直接登录</a>
    </el-container>
  </div>
</template>

<script>
import {JSEncrypt} from 'jsencrypt'
export default {
  name: 'userRegister.vue',
  data () {
    return {
      loginForm: {
        companyid: '',
        companyname: '',
        username: '',
        password: ''
      },
      responseResult: []
    }
  },
  methods: {
    login () {
      const encrypt = new JSEncrypt()
      encrypt.setPublicKey(process.env.RSA_KEY)
      this.$axios
        .post('/vendor/vendor/account', {
          vendor_id: this.loginForm.companyid,
          username: this.loginForm.username,
          password: encrypt.encrypt(this.loginForm.password),
          roles: [ { id: 5 } ]
        })
        .then(successResponse => {
          if (successResponse.status === 200) {
            if (successResponse.data.code === 0) {
              this.$message.success({
                message: '注册成功',
                showClose: true
              })
              window.location.href = 'https://vendor.homezonecommunity.com/'
            } else {
              this.$message.error({
                message: successResponse.data.msg,
                showClose: true
              })
              return
            }
          }
          if (successResponse.status === 400) {
            this.$router.replace({path: '/loginError'})
          }
        })
        .catch(failResponse => {
        })
    },
    back () {
      this.$router.back()
    }
  },
  created () {
    this.loginForm.companyid = this.$route.params.companyid
    this.loginForm.companyname = this.$route.params.companyname
  }
}
</script>

<style scoped>
  @import "../../assets/css/main.css";
  @import "../../assets/css/custom.css";
  @import "../../assets/css/font-awesome.css";
  @import "../../assets/css/animate.css";
  .head{
    width: 100%;
    height: 45px;
    background-color: #fd5b7f;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
  .head_logo {
    max-width: 375px;
    margin-top: 40px;
    text-align:center;
  }

  .title {
    font-size: 20px;
    color: #555555;
    margin-top: 20px;
    text-align:center;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .el-container {
    max-width: 375px;
    padding: 0px 15px 20px 15px;
  }

  .el-form-item {
    margin-bottom: 10px;
  }
  . notice{
    width: 344px;
    height: 58px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: 0px;
    color: #707070;
  }
  .register_btn_submit {
    width: 345px;
    height: 47px;
    background-color: #108ee9;
    border-radius: 10px;
  }
</style>
